<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/all_requests.css') }}">
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">

        <style>
               body{
                  background-image:url("{{ url_for('static', filename='/about-us-background.png') }}");
                  }
      </style>

    </head>

    <body>

      <nav class = "yellow lighten-5">
         <div class="nav-wrapper">
            <a class="lime-text text-darken-4 brand-logo">
               <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
               Give One
            </a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li> <a class="grey-text text-darken-3" href="{{ url_for('all_requests') }}">Requests</a> </li>
            <li> <a class="grey-text text-darken-3" href="{{ url_for('all_donations') }}">Donations</a> </li>
            <li> <a class="grey-text text-darken-3" href="{{ url_for('about_us') }}">About Us</a> </li>
            <li class="grey-text text-darken-3"> {{ current_user.username }}</li>
            <li><a class="grey-text text-darken-3" href="/profile">Profile</a></li>
            <li><a class="grey-text text-darken-3" href="/logout">Logout</a></li>
           </ul>
         </div>
       </nav>


        <div class = "container">

         <div class="row">

            <h1 style="text-align: center;">
               <span class=" lime-text text-darken-4">
               Our History
               </span>
            </h1>
            
            <div class="col s4">
               <div class="card small card-panel yellow lighten-5">
                  <div class="card-title lime-text text-darken-4" style="text-align:center">Background</div>
                  <span class="lime-text text-darken-4">
                     There are many people all over the world who need sometimes need help, they aren't in abject poverty, but they're struggling to make ends meet, such as a
                     single mothers who barely hold their household together. 
                  </span>
               </div>
            </div>

            <div class="col s4">
               <div class="card small card-panel yellow lighten-5">
                  <div class="card-title lime-text text-darken-4" style="text-align:center">About Us</div>
                  <span class="lime-text text-darken-4">We are Aaron Questel, Jewel Coker and Adrian Khan. Three students enrolled at the University of the West Indies pursuing
                     degrees in Computer Science and Information Technology with a desire to create positive social impact through the knowledge and technology that we learn.
                  </span>
               </div>
            </div>
            
            <div class="col s4">
               <div class="card small card-panel yellow lighten-5">
                  <div class="card-title lime-text text-darken-4" style="text-align:center">Mission</div>
                  <span class="lime-text text-darken-4"> To help those that need a small blessing to keep pushing through their difficult time. 
                  </span>
               </div>
            </div>

         </div>

      </div>

      <footer class="page-footer orange lighten-3" style="position:fixed;bottom:0;left:0;width:100%;">
         <div class="container">
           <div class="row">

             <div class="col s12 m6 l3">
               <div class="logo-div">
                  <img src="{{ url_for('static', filename='/GiveOne Logo Full.png') }}" alt="GiveOne logo" class="logo">
              </div>
             </div>

             <div class="col s12 m6 l3">
               <h6 class="white-text">Receive the latest updates </h6>
               <form action="#">
                  <div class="row">
                     <div class="col s6">
                        <div class="input-field inline">
                          <input id="email_inline" type="email" class="validate">
                          <label for="email_inline">Email</label>
                        </div>
                      </div>
                     <div class ="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Subscribe</button>
                     </div>
                   </div>
                </form>
             </div>

             <div class="col s12 m6 l3">
               <h6 class="white-text">Follow Us</h6>
               <div class="row">
                  <div class="col s4">
                     <a href="instagram.com/">
                        <img src="{{ url_for('static', filename='/fb-logo.png') }}" alt="FB logo" class="logo">
                        </a>
                  </div>

                  <div class="col s4">
                     <a href="instagram.com/">
                     <img src="{{ url_for('static', filename='/ig-logo.png') }}" alt="IG logo" class="logo">
                     </a>
                  </div>
                  <div class="col s4">
                     <a href="twitter.com/">
                     <img src="{{ url_for('static', filename='/tw-logo.png') }}" alt="TW logo" class="logo">
                     </a>
                  </div>
                </div>
             </div>

             <div class="col s12 m6 l3">
               <h6 class="white-text">Call us</h6>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">(868) 643-5674</a></li>
               </ul>
             </div>
           </div>
         </div>
       </footer>
                  

        <!-- Materialize javascript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Modal Initialization -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, {});
            });
        </script>
    </body>
</html>
