<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/all_requests.css') }}">
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Materialize Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
        <script>
            function show_toasts(){
                let toasts = document.querySelectorAll('[id=toast-flash]');
                for(toast of toasts){
                toast.click();
                }
                // document.getElementById("test").click(); 
            }
        </script>
    </head>


    <body onload="show_toasts()">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <a onclick="M.toast({html: '{{ message }}', classes: 'rounded'});" class="btn" id="toast-flash">Toast!</a>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="mycontainer">
            <div class="row">
                <nav class="col s12 nav-bar">
                    <a class="logo-div" href="{{ url_for('homepage') }}">
                        <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                        <h1 class="title text">GiveOne</h1>
                     </a>
                    <ul class="nav-items">
                        <li> <a class="current-page nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                        <li> <a class="profile nav-item text hide-on-med-and-down" href="{{ url_for('profile') }}">{{ current_user.username }}</a> </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mycontainer">
            <div class="row">
                <h3 class="page-title text">All Requests</h3>
            </div>
            <div class="row">
                {% for request in requests %}
                    {% if request.donated == False %}
                        <a href="/request_page/{{request.reqid}}">
                            <div class="col s12 m6 l4" >
                                <div class="card hoverable medium">
                                    <div class="card-image">
                                        <!-- <img src="{{ url_for('static', filename='/BurntHouse.jpg') }}"> -->
                                        <img src="{{ request.request_image.get_url() }}">
                                        
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title text  truncate">{{ request.title }}</span>
                                        <p class="card-text text truncate">{{ request.body }} </p>
                                        <!-- <p class="text">{{request.request_image.filename}}</p> -->
                                        <div class="card-creator">
                                            <a class="profile-link text">{{request.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a> 
                    {% endif %}
                {% endfor %}

        <!-- Make Request Button -->
        <button data-target="form-modal" class="button modal-trigger text">Make a Request</button>

        <div class="container">
            <div id="form-modal" class="modal">
                <div class="modal-content">
                    <h2 class="text">Make a Request</h2>
                    
                    <form class="form" method="post" action="/create_request" enctype="multipart/form-data">
                        <div class="input-field col s6">
                            <input id="title" type="text" class="validate" name="title">
                            <label for="title">Request Title</label>
                          </div>
                        <div class="input-field col s12">
                            <textarea placeholder="Give some information about your request" id="body" class="materialize-textarea" name="body"></textarea>
                            <label for="body" class="text">Request Body</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea placeholder="Add requested items (separate items with commas)" id="items" class="materialize-textarea" name="req_items"></textarea>
                            <label for="items" class="text">Request Items</label>
                        </div>
                        <div class="file-field input-field col s12">
                            <div class="btn">
                              <span>File</span>
                              <input type="file" accept="image/*" name="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text" name="file_name"/>
                            </div>
                        </div>
                        <div class="col s12 confirm-btn">
                            <input type="submit" value="Confirm" class="button text">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Materialize javascript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Modal Initialization -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, {});
            });
        </script>
    </body>
</html>