<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/all_requests.css') }}">
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    </head>


    <body>
        <div class="mycontainer">
            <div class="row">
                <nav class="col s12 nav-bar">
                    <div class="logo-div">
                        <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                        <h1 class="title text">GiveOne</h1>
                    </div>
                    <ul class="nav-items">
                        <li> <a class="nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                        <li> <a class="current-page nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                        <li> <a class="profile nav-item text hide-on-med-and-down" href="{{ url_for('profile') }}">{{ current_user.username }}</a> </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mycontainer">
            <div class="row">
                <h3 class="page-title text">All Donations</h3>
            </div>
            <div class="row">
                <!-- Duplicate cards from here -->
                <!-- <a href="/donation_page">
                    <div class="col s12 m6 l4" >
                        <div class="card hoverable medium">
                          <div class="card-image">
                            <img src="{{ url_for('static', filename='/hamper.jpeg') }}">
                          </div>
                          <div class="card-content">
                            <span class="card-title text">Hampers of Grocery Items</span>
                            <p class="card-text text">Happy Easter! In the spirit of the season I'd... </p>
                            <div class="card-creator">
                                <a class="profile-link text">John Doe</a>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                </a>    -->
                
                {% if donations %}
                    {% for donation in donations %}
                    <a href="/donation_page/{{donation.donid}}">
                        <div class="col s12 m6 l4" >
                            <div class="card hoverable medium">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='/hamper.jpeg') }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title text">{{ donation.title }}</span>
                                <p class="card-text text">{{ donation.body }} </p>
                                <div class="card-creator">
                                    <a class="profile-link text">John Doe</a>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </a> 
                    {% endfor %}
                {%  endif %}
            </div>
        </div>

        <!-- Make Donation Button -->
        <button data-target="form-modal" class="button modal-trigger text">Make a Donation</button>

        <div class="container">
            <div id="form-modal" class="modal">
                <div class="modal-content">
                    <h2 class="text">Make a Donation</h2>
                    
                    <form class="form" method="post" action="/create_donation">
                        <div class="input-field col s6">
                            <input id="title" type="text" class="validate" name="title">
                            <label for="title">Donation Title</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea placeholder="Give some information about your request" id="body" class="materialize-textarea" name="body"></textarea>
                            <label for="body" class="text">Donation Body</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea placeholder="Add requested items (separate items with commas)" id="items" class="materialize-textarea" name="don_items"></textarea>
                            <label for="items" class="text">Donation Items</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="title" type="text" class="validate" name="directions">
                            <label for="title">Pickup Directions</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="title" type="text" class="validate" name="note">
                            <label for="title">Optional Note</label>
                        </div>
                        <div class="file-field input-field col s12">
                            <div class="btn">
                              <span>File</span>
                              <input type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text"/>
                            </div>
                        </div>
                        <div class="col s12 confirm-btn">
                            <input type="submit" value="Confirm" class="button text">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Materialize javascript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Modal Initialization -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, {});
            });
        </script>
    </body>
</html>