<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/all_requests.css') }}">
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    </head>


    <body>
        <div class="mycontainer">
            <div class="row">
                <nav class="col s12 nav-bar">
                    <div class="logo-div">
                        <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                        <h1 class="title text">GiveOne</h1>
                    </div>
                    <ul class="nav-items">
                        <li> <a class="current-page nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                        <li class="profile nav-item text hide-on-med-and-down">{{ current_user.username }}</li>
                        <li><a class="nav-item text hide-on-med-and-down" href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mycontainer">
            <div class="row">
                <h3 class="page-title text">All Requests</h3>
            </div>
            <div class="row">
                <!-- Duplicate cards from here -->
                <a href="/request_page">
                    <div class="col s12 m6 l4" >
                        <div class="card hoverable medium">
                          <div class="card-image">
                            <img src="{{ url_for('static', filename='/BurntHouse.jpg') }}">
                          </div>
                          <div class="card-content">
                            <span class="card-title text">Help Needed After House Fire</span>
                            <p class="card-text text">On the 14th of february, a faulty electrical socket... </p>
                            <div class="card-creator">
                                <a class="profile-link text">Lindsay Abraham</a>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                </a>     

        <!-- Make Request Button -->
        <button data-target="form-modal" class="button modal-trigger text">Make a Request</button>

        <div class="container">
            <div id="form-modal" class="modal">
                <div class="modal-content">
                    <div class="form" method="post" action="create_request">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Pickup Directions</label>
                        </div>
                          <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Optional Note</label>
                        </div>
                        <button href="#! " class="button text">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Materialize javascript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Modal Initialization -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, {});
            });
        </script>
    </body>
</html>