<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/request_page.css') }}">
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="mycontainer">
            <div class="row">
                <nav class="col s12 nav-bar">
                    <a class="logo-div" href="{{ url_for('homepage') }}">
                        <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                        <h1 class="title text">GiveOne</h1>
                     </a>
                    <ul class="nav-items">
                        <li> <a class="nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                        <li> <a class="current-page nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                        <li> <a class="profile nav-item text hide-on-med-and-down" href="{{ url_for('profile') }}">{{ current_user.username }}</a> </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mycontainer">
            <div class="row">
                <div class="col s12 l8 request-body">
                    <h1 class="request-title text">{{donation.title}}</h1>
                    <img src="{{ donation.donation_image.get_url() }}" class="request-image">
                    <p class="request-details text">{{donation.body}}</p>
                    <p class="profile-link text">Username: {{ donation.user.username }}</p>
                </div>
                <div class="col s12 l4 request-items">
                    <div class="border">
                        <h1 class="items-title text">Items Donated</h1>
                        <ul class="item-list">
                            <!-- {% for item in donation.don_items %} -->
                                <p class="item text">{{item}}</p>
                                <div class="divider line"></div>
                            <!-- {% endfor %} -->
                        </ul>
                    </div>
                        <button data-target="form-modal" class="button modal-trigger text">Request</button>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div id="form-modal" class="modal">
                <div class="modal-content">
                    <form method="post" action="/request/{{ donation.donid }}"> 
                        <h3 class="text">Pickup Directions</h3>
                        <p class="text">{{donation.directions}}</p>
                        <h3 class="text">Note</h3>
                        <p class="text">{{donation.note}}</p>
                        <button class="button text">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Materialize javascript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Modal Initialization -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, {});
            });
        </script>
    </body>
</html>