<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/homepage.css') }}">
        <!-- <link rel="stylesheet" href="/static/homepage.css"> -->
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
      <div class="mycontainer">
         <div class="row">
             <nav class="col s12 nav-bar">
                <a class="logo-div" href="{{ url_for('homepage') }}">
                    <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                    <h1 class="title text">GiveOne</h1>
                </a>
                <ul class="nav-items">
                     <li> <a class="nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                     <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                     <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                     <li> <a class="profile nav-item text hide-on-med-and-down" href="{{ url_for('profile') }}">{{ current_user.username }}</a> </li>
                </ul>
             </nav>
         </div>
     </div>

     <div class="mycontainer">
        <div class="main-image-section">
           <img class="main-image-background" src="{{ url_for('static', filename='/boy-on-rock.png') }}">
           <h3 class="main-image-text">Each One Give One</h3>
           <p class="main-image-subtext">A place for those to lend a helping hand</p>
           <div class="main-image-buttons center-align">
              <a class="main-image-button" href="/all_donations">Make a Donation</a>
              <a class="main-image-button" href="/all_requests">Make a Request</a>
           </div>
        </div>

        <div class="urgent-cause-section row">
           <img class="urgent-cause-image col s12 m6" src="{{ url_for('static', filename='/premature-baby.png') }}">
           <div class="urgent-cause-flex col  s12 m6 center-align">
              <h3 class="urgent-cause-heading text">Urgent Cause</h3>
              <div class="divider"></div>
              <h5 class="urgent-cause-subheading text">Formula Needed for Premature Baby</h5>
              <p class="urgent-cause-text text">My baby Keston was born premature and with heart complications. With my salary and his medical expenses its become so hard to support him in the way he needs ...</p>
           </div>
        </div>

        <div class="donations-requests-flex row">
           <div class="donations-flex col s12 m6">
               <h2 class="section-title text">Donations</h2>
               {% for donation in donations %}
                  <a class="donations-requests-button text" href="/donation_page/{{donation.donid}}">{{donation.title}}</a>
               {% endfor %}
               <a class="load-more-button" href="/all_donations">Load more...</a>
           </div>
           <div class="requests-flex col s12 m6">
            <h2 class="section-title text">Requests</h2>
            {% for request in requests %}
               <a class="donations-requests-button text" href="/request_page/{{request.reqid}}">{{request.title}}</a>
            {% endfor %}
            <a class="load-more-button" href="/all_requests">Load more...</a>
           </div>
        </div>
     </div>
    </body>
</html>
