 {% extends 'layout.html' %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}  
<!DOCTYPE html> 
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="style.css"> 



     <style>
      
      
     .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .nav li {
        float: left;
        color: #696B4D;
      }
      
      .nav li a {
        display: block;
        color: #696B4D;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .nav li a:hover:not(.active) {
        background-color:burlywood;
      }
      
      footer{
         
         margin-top: 500px;
      }
       
      
      
      .footer {
         position: absolute;
         bottom: 0;
         width: 100%;
         /* Set the fixed height of the footer here */
         height: 100px;
       }
       
      

      </style>
   </head>
<div class="nav"> 
<body>
   <ul>
      <li> <a href="#!" class="logo"> <img src="../images/GiveOne Logo Trans.png" height="40px" >   </a></li>
      <li> <p style="font-size:large"> GiveOne </p></li>
      <div class="right">
        <li>  <a href="/">Home</a> </li>
        <li>  <a href="/requests">Requests</a> </li>
        <li>  <a href="/donations">Donation</a> </li>
        <li>  <a href="/about">About</a> </li> 
        <li>  <a href="/user"> Profile</a> </li>
      </div>
  </ul> 
</div> 
   <div class="main">


      <div class="container-bn"> 
    <div class="banner" > 
       <h1> Each one GiveOne</h1>

    <div class="buttons">
    <button class="btn-dn">
     Make a donation   
    </button class="bt2">
   
    <button class="btn-dn"> 
    Make a request
    </button>    
    </div>
   </div>
    <div class="urgent-cause">
     
         <img src="../images/urgent.png">  
        

     <div class="urgent-text">
    <center> 
       <u  style="color: #696B4D;"> <h1 style="color: #696B4D; font-family: 'Playfair Display', serif;" > Urgent Cause </h1> </u>
       <h2 style="color: #696B4D; font-family: 'Playfair Display', serif;"> Formula needed for premature baby</h2>
       <p style="color: #696B4D; font-family: 'Playfair Display', serif;">   My baby Keston was born premature and with heart complications. With my salary and his medical expenses its become so hard to support him in the way he needs ... </p>
    </center> 
    </div>

    </div>


<div class="requests"> 
    <table >
      <thead>
         <th> 
         
            Donations
         
         </th>
         
   
      </thead>
      <tbody>
         <tr  >
            <td  >
               <div class="td"> 
                  Surgical Masks 50/pk
              </div>
            </td>
           
         </tr>
         <tr>
            <td>
               <div class="td"> 
               Free eye exam at Ferreria Optical
               </div>
            </td>
          
         </tr>
         <tr>
            <td>
               
               <div class="td"> 

               Pampers and baby clothes (six months)
               </div>
            </td>
           
         </tr>

         <tr>
            <td>
               
               

               <button class="btn-4"> Load More.. </button>
               
            </td>
           
         </tr>
   
      </tbody>
   
   </table>

   <table >
      <thead>
         
         <th>
            Requests
         </th>
   
      </thead>
      <tbody>
         <tr  >
            
            <td> 
               <div class="td"> 
                     Standard 3 books for child            
               </div>
            </td>
         </tr>
         <tr>
          
            <td>
               <div class="td">
               Clothes needed after fire
               </div>
            </td>
         </tr>
         <tr>
            
            <td>
               <div class="td"> 
               Laptop needed for university classes
               </div>
            </td>
         </tr>

         <tr>
            <td>
               
               

               <button class="btn-4"> Load More.. </button>
             
            </td>
           
         </tr>
   
      </tbody>
   
   </table>
</div>
</div>
</div>
<footer class="footer" > 
   <table class="ft-table">
      <tr>
         <td colspan="2">
          <img src="../images/GiveOne Logo Full.png" height="100px" >
         </td>
         <td>
            Receive updates on the latest requests & donations <br>
            <form style="display: inline;"> 
               <input type="text" id="email" name="email" value="Your Email..."><br> </form>
            <input type="submit" value="Subscribe">
       </td>
       <td>
            Follow Us <br>
            <a> <img href="#" src="../images/fb-logo.png" height="20"> </a>
            <a> <img href="#" src="../images/tw-logo.png" height="20"> </a>
            <a> <img href="#" src="../images/ig-logo.png" height="20"> </a>
 
       </td>
       <td>
            Call Us <br> (868)643-3674
       </td>
      </tr>
    
   </table>
 </footer>

   
</div>


   </body>

   
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


   


</html>
 {% endblock %} 
    