<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/all_requests.css') }}">
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    </head>


    <body>
        <div class="mycontainer">
            <div class="row">
                <nav class="col s12 nav-bar">
                    <div class="logo-div">
                        <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                        <h1 class="title text">GiveOne</h1>
                    </div>
                    <ul class="nav-items">
                        <li> <a class="current-page nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                        <li class="profile nav-item text hide-on-med-and-down">{{ current_user.username }}</li>
                        <li><a class="nav-item text hide-on-med-and-down" href="/profile">Profile</a></li>
                        <li><a class="nav-item text hide-on-med-and-down" href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="content-section">
                <h3 class="account-heading"> Username: {{ current_user.username }}</h3>
                <h3 class="text-secondary">Email: {{ current_user.email }}</h3>
        </div>
        
        <!-- Materialize javascript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Modal Initialization -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, {});
            });
        </script>
    </body>
</html>