<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/profile.css') }}">
        <!-- <link rel="stylesheet" href="/static/profile.css"> -->
        <!-- Materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Get fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">  
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="mycontainer">
            <div class="row">
                <nav class="col s12 nav-bar">
                    <a class="logo-div" href="{{ url_for('homepage') }}">
                        <img src="{{ url_for('static', filename='/GiveOneLogo.png') }}" alt="GiveOne logo" class="logo">
                        <h1 class="title text">GiveOne</h1>
                    </a>
                    <ul class="nav-items">
                        <li> <a class="nav-item text hide-on-med-and-down browser-default" href="{{ url_for('all_requests') }}">Requests</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('all_donations') }}">Donations</a> </li>
                        <li> <a class="nav-item text hide-on-med-and-down" href="{{ url_for('about_us') }}">About Us</a> </li>
                        <li> <a class="current-page profile nav-item text hide-on-med-and-down" href="{{ url_for('profile') }}">{{ current_user.username }}</a> </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mycontainer ">
            <div class="update-profile row">
                <div class="input-fields col s12 l6">
                    <h2 class="text">Profile Information</h2>
                    <p class="input-prompts text">Username</p>
                    <input type="text " placeholder="{{current_user.username}}" class="profile-input disabled" name="username">
                    <p class="input-prompts text">Email</p>
                    <input type="email " placeholder="{{current_user.email}}" class="profile-input disabled" name="email">
                    <p class="input-prompts">Old Password</p>
                    <input type="password " placeholder="********" class="profile-input disabled" name="password">
                    <p class="input-prompts">New Password</p>
                    <input type="password " placeholder="********" class="profile-input disabled" name="new-password">
                    <button type="submit" id="profile-button">Submit</button>
                </div>

                <!-- <div class = "vertical"></div> -->

                <div class="uploaded-docs col s12 l6">
                    <h2 class="text">Uploaded documents</h2>
                    <button type="file" id="document-button">
                        <i class="material-icons">file_upload</i>   
                        Upload                     
                    </button>
                </div>
            </div>

            <div class="request-activity center-align">
                <h2 class="text">Request Activity</h2>
                <div class="row">
                    <!-- Duplicate cards here -->
                    {% if requests %}
                        {% for request in requests %}
                            <div class="activity-cards center-align  col s12">
                                <div class="card horizontal hoverable row">
                                    <div class="card-image col s12 m6">
                                        <img class="card_image" src="{{ url_for('static', filename='/BurntHouse.jpg') }}">
                                    </div>
                                    <div class="card-stacked col s12 m6">
                                        <div class="card-content">
                                            <a class="title text" href="/request_page/{{request.reqid}}">{{request.title}}</a>

                                            {% if request.donated %}
                                                <h5 class="text">Pickup Directions</h5>
                                                <p class="text">{{ request.directions }}</p>
                                                <h5 class="text">Note</h5>
                                                <p class="text">{{ request.note }}</p>
                                                <h5 class="text">Donated By</h5>
                                                <p class="text">Username: {{ request.donator_username }}</p>
                                                <p class="text">Email: {{ request.donator_email }}</p>
                                            {% else %}
                                                <h5 class="text">No Donations Yet</h5>
                                            {% endif %}
                                        </div>
                                        {% if request.donated %}
                                            <form class="card-action" method="post" action="/accept_cancel_donation/{{request.reqid}}">
                                                <input type="submit" class="deny-button" name="button" value="Cancel"></input>
                                                <input type="submit" class="confirm-button" name="button" value="Accept"></input>
                                            </form>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {%  endif %}

                </div>
            </div>

            <div class="donation-activity center-align">
                <h2 class="text">Donation Activity</h2>
                <div class="row">

                    <!-- Duplicate cards here -->
                    {% if donations %}
                        {% for donation in donations %}
                            <div class="activity-cards center-align  col s12">
                                <div class="card horizontal hoverable row">
                                    <div class="card-image col s12 m6">
                                        <img class="card_image" src="{{ url_for('static', filename='/BurntHouse.jpg') }}">
                                    </div>
                                    <div class="card-stacked col s12 m6">
                                        <div class="card-content">
                                            <a class="title text" href="/donation_page/{{donation.donid}}">{{donation.title}}</a>

                                            {% if donation.requested %}
                                                <h5 class="text">Pickup Directions</h5>
                                                <p class="text">{{ donation.directions }}</p>
                                                <h5 class="text">Note</h5>
                                                <p class="text">{{ donations.note }}</p>
                                                <h5 class="text">Requested By</h5>
                                                <p class="text">Username: {{ donation.requestor_username }}</p>
                                                <p class="text">Email: {{ donation.requestor_email }}</p>
                                            {% else %}
                                                <h5 class="text">No Requests Yet</h5>
                                            {% endif %}
                                        </div>
                                        {% if donation.requested %}
                                            <form class="card-action" method="post" action="/accept_cancel_request/{{donation.donid}}">
                                                <input type="submit" class="deny-button" name="button" value="Cancel"></input>
                                                <input type="submit" class="confirm-button" name="button" value="Accept"></input>
                                            </form>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {%  endif %}
                    </div>
                </div>
            </div>
            
            <form class="button-form" method="get"  action="/logout">
                <button class="logout-button" type="submit">Logout</button>
            </form>
            
        </div>

    </body>
</html>
