<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GiveOne</title>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
      .btn{
        display: none;
      }
    </style>

    <script>
      // M.toast({html: 'I am a toast!'})
      // $(document).ready(function() {
      //   $("#test").trigger('click');
      // });

      function func(){
        let toasts = document.querySelectorAll('[id=test]');
        for(toast of toasts){
          toast.click();
        }
        // document.getElementById("test").click(); 
      }
    </script>
    </head>

    <!-- <body onload="func('Toast test')"> -->
    <body onload="func()">
      <p> testing</p>
      <a onclick="M.toast({html: 'I am a toast!', classes: 'rounded'});" class="btn " id="test">Toast!</a>
      <a onclick="M.toast({html: 'I am a toast!', classes: 'rounded'});" id="test">Toast!</a>
      <a onclick="M.toast({html: 'I am a toast!', classes: 'rounded'});" id="test">Toast!</a>
        
    </body>

    
</html>